body {
  background-color: #fff;
  background-image: url('/images/background.png');
  color: #000;
  font: normal 16px/22px Helvetica, 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
  padding-top: 20px;
  padding-bottom: 40px;
}

.container {
  margin: 0 auto;
  max-width: 800px;
}

h1 {
  font: bold 77px/85px 'Montserrat', sans-serif;
  color: #000;

}

h2 {
  font: normal 28px/32px 'Montserrat', sans-serif;
  padding: 0px;
  margin: 0px;
}

h3 {
  font: normal 22px/26px 'Montserrat', sans-serif;
  padding: 0px;
  margin: 0px;
}